
:root{
    --background-color-1: #FFE4D7;
    --background-color-2: #DBA787;
    --primary-color: #F1A6B4;
    --primary-color-light: #F8C8D1;
    --secondary-1:#F26105;
    --secondary-2:#FFB633;
    --secondary-3:#093833;
    --secondary-4:#BD863E;
    --secondary-5:#C7B65E;
    --Neutral-black:#000000;
    --Neutral-white:#EBE8E1; 
    --big-font-heading-size:56.5px;
    --big-font-body-size:18.1px;
    --big-font-small-size:1.3rem;
    --big-font-smaller-size:14.95px;
    --big-font-link-size:16.1px;
    --big-button-size:17.25px;

}

@font-face {
    font-family: 'cooperRegular';
    src: url('./fonts/cooperotf/Cooper-Regular.otf');
}
@font-face {
    font-family: 'cooperMedium';
    src: url('./fonts/cooperotf/Cooper-Medium.otf');
}
@font-face {
    font-family: 'cooperSemi-bold';
    src: url('./fonts/cooperotf/Cooper-SemiBold.otf');
}
@font-face {
    font-family: 'cooperCooper-bold';
    src: url('./fonts/cooperotf/Cooper-Bold.otf');
}
@font-face {
    font-family: 'cooperBlack';
    src: url('./fonts/cooperotf/Cooper-Black.otf');
}
@font-face {
    font-family: 'ApercuRegular';
    src: url('./fonts/FontsFree-Net-ApercuRegular.ttf');
}
@font-face {
    font-family: 'PalmerLake';
    src: url('./fonts/PalmerLakePrint-Regular.ttf');
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

body{
    position: relative;
    font-family:"ApercuRegular" !important;
    background-color: var(--background-color-1);
    cursor: url('../assets/curso.png'),auto !important;
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.Header{
    max-width: 100vw;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "left-icons logo right-icons";
    grid-template-columns: 1fr auto 1fr;
        padding-top: 20px;
        padding-bottom: 20px;
}
.NewsletterSection{
    background-color: var(--secondary-1);
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.NewsletterText{
    font-size: var(--big-font-smaller-size) !important;
    font-weight: 500 !important;
}
.NewsletterSection:hover{
    background-color: var(--secondary-5);
}

.link-font{
    font-size:var(--big-font-small-size);
font-family:"ApercuRegular" !important;
    color: var(--Neutral-black) !important;
    font-weight: 600 !important;
      letter-spacing: .04rem;
    /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.741);// */
    text-transform: uppercase;
    text-decoration: none !important;
        cursor: url('../assets/curso.png'),auto !important;
}
.input-box{
    background-color: var(--secondary-5);
    border: none !important;

}
.hover-color:hover{
    color: var(--secondary-5) !important;
    text-shadow: var(--secondary-5);
    font-weight: 600 !important;
}
.Wishlist{
    background-color: var(--primary-color-light);
    font-size: var(--big-font-link-size) !important;
    text-transform: uppercase;
        color: var(--Neutral-black) !important;
    font-weight: 500 !important;
    letter-spacing: -0.01rem !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.741);
    text-transform: uppercase;
    text-decoration: none;
    rotate: 3deg;
        cursor: url('../assets/curso.png'),auto !important;
}
.navbar{
    background-color: var(--primary-color);
    margin-bottom: 8px;

}
.Heading{
    font-family: 'cooperRegular'!important;
    font-weight: 500 !important;
    font-size: var(--big-font-heading-size) !important;
    letter-spacing:-0.14rem !important;
    color: rgb(var(--color-foreground));
    line-height: 0.9 !important;
    -webkit-text-stroke-width: 1px;
}
.span-heading{
    letter-spacing:1.5px !important;
    font-family: 'PalmerLake' !important;
    -webkit-text-stroke-width: 1px;
    font-size: 78.7375px !important;   
}
.heading-body{
    /* -webkit-text-stroke-width: 1px; */
    line-height: 1.3;
    font-family:"ApercuRegular" !important;
    font-size: var(--big-font-body-size) !important;
    margin:15.64px 0px !important;
    letter-spacing: 0px;

}
.nav-sublinks-container{
    padding: 2rem 0 2rem;   
     min-width: 382px;  
     border: 2px solid var(--Neutral-black);
     background-color: var(--secondary-5);
}
.Navsublinks{
    padding: .8rem 2rem 1.4rem;
    font-weight: 600 !important;
    display: flex;
    align-items: center;
    max-width: fit-content;
    text-transform: uppercase;
    letter-spacing: .04rem !important;
    text-decoration: none !important;
    color: var(--Neutral-black) !important;
    font-family:"ApercuRegular" !important;
    line-height: calc(1 + 0.3 / 1.15) !important;
}
.navpara{
    font-size: 17.25px !important;
    letter-spacing: 0.5px !important;
    text-transform: none;
}
.Navsublinks:hover{
    color: var(--background-color-1) !important;
}
.link-nav-font:hover{
    color: var(--background-color-1) !important;
}

.navpara:hover{
    color: var(--Neutral-black) !important;
}
.Menulink{
    display: none !important;
}



.collection{
    background-color: var(--secondary-5);
}
.slide-image{
    width: 450px;
    height: auto;
    min-width: 18vw;
    max-width: 25vw;
    object-fit: contain;
    transform: rotate(5deg);
}
.slide-image-neg{
    transform: rotate(-5deg);
}