@media(max-width:428px){
        .Menulink{
        margin-right: 10px;
    }
    
}

@media(max-width:768px){
    .NewsletterText{
    font-size: 12px !important;
    font-weight:600;
    text-align: center;
}

}
@media(max-width:1000px){
    .Menulink{
        display: flex !important;
        margin-right: 100px;
    }
    .left-header,
    .navbar{
        display: none !important;
    }
}