@media(max-width:428px){
        .Menulink{
        margin-right: 10px;
    }

    
}
@media(max-width:700px){
    .Heading{
        font-size: 86.5px !important;
        line-height: 1.2 !important;
    }
    .span-heading{
        font-size:50px !important;
    }
.heading-body{
    font-size: 14px !important;
}
    
}
@media(max-width:1245px){
    .Heading{
        font-size: 45px !important;
    }
    
}
@media(max-width:1000px){
    .Menulink{
        display: flex !important;
        margin-right: 100px;
    }
    .left-header,
    .navbar{
        display: none !important;
    }
}


@media(max-width:980px){
    .Heading{
        font-size: 40px !important;
        line-height: 1 !important;
    }
    .span-heading{
        font-size:60px !important;
    }
.heading-body{
    font-size: 18px !important;
}
}
@media(max-width:768px){
    .NewsletterText{
    font-size: 12px !important;
    font-weight:600;
    text-align: center;
}
.productdisplay-heading{
    font-size: 34px !important;
}
.productdisplay-para{
    line-height: 1.6 !important;
    font-size: 15px !important;
}
.smallbuttontext{
    font-size: 14px !important;
}
.card-heading{
    font-size: 45px !important;

}

}

